:root {
    /* CSS Custom Properties */
    --brand-color: #E6D8C3;
    --accent: #C2A68C;
    --muted: #6c757d;
    background-color: #F5F5F0;
    --card-bg: #fbfcff;
    --radius: 12px;
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

header {
    background-color: var(--brand-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    flex-grow: 1; 
    padding: 15px;display: flex;
    flex-direction: column;
   
}

.nav-link {
    transition: color .2s ease, transform .2s ease; 
    border-radius: 5px;
    color: #333; 
    font-weight: 500;
}

.nav-link:hover {
    color: var(--accent);
    transform: scale(1.05);
}

a.btn, button.btn {
    transition: transform .15s ease, box-shadow .50s ease;
    padding: 5px 25px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
}

a.btn:hover, button.btn:hover {
    transform: translateY(-3px);
    background-color: #C2A68C;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 1px solid #C2A68C;
}

#about .btn-outline-primary {
    color: var(--accent);
    border-color: var(--accent);
}

#about .btn-outline-primary:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: #fff;
}

.card {
    border: 1px solid var(--brand-color); /* Використовуємо ваш бежевий */
    border-radius: var(--radius); /* Використовуємо ваш радіус з :root */
}

/* Стиль для Акордеону (FAQ) */
.accordion-item {
    /* Замінюємо сіру рамку на вашу */
    border-color: var(--brand-color); 
}

.accordion-button:not(.collapsed) {
    /* Робимо колір активного елемента вашим брендовим */
    background-color: var(--brand-color);
    color: #333;
    box-shadow: none; /* Прибираємо тінь */
}

.accordion-button:focus {
    /* Прибираємо стандартну синю рамку при кліку */
    border-color: transparent;
    box-shadow: 0 0 0 .25rem rgba(194, 166, 140, 0.4); /* Фокус у вашому accent кольорі */
}